{
  "openapi": "3.0.0",
  "info": {
    "title": "Generative Language API",
    "description": "The Gemini API allows developers to build generative AI applications using Gemini models. Gemini is our most capable model, built from the ground up to be multimodal. It can generalize and seamlessly understand, operate across, and combine different types of information including language, images, audio, video, and code. You can use the Gemini API for use cases like reasoning across text and images, content generation, dialogue agents, summarization and classification systems, and more.",
    "contact": {
      "name": "Google",
      "url": "https://google.com"
    },
    "version": "v1beta",
    "license": {
      "name": "Creative Commons Attribution 3.0",
      "url": "http://creativecommons.org/licenses/by/3.0/"
    },
    "termsOfService": "https://developers.google.com/terms/"
  },
  "servers": [
    {
      "url": "https://generativelanguage.googleapis.com/"
    }
  ],
  "components": {
    "schemas": {
      "AsyncBatchEmbedContentRequest": {
        "description": "Request for an `AsyncBatchEmbedContent` operation.",
        "properties": {
          "batch": {
            "$ref": "#/components/schemas/EmbedContentBatch",
            "description": "Required. The batch to create."
          }
        },
        "type": "object"
      },
      "AttributionSourceId": {
        "description": "Identifier for the source contributing to this attribution.",
        "properties": {
          "groundingPassage": {
            "$ref": "#/components/schemas/GroundingPassageId",
            "description": "Identifier for an inline passage."
          },
          "semanticRetrieverChunk": {
            "$ref": "#/components/schemas/SemanticRetrieverChunk",
            "description": "Identifier for a `Chunk` fetched via Semantic Retriever."
          }
        },
        "type": "object"
      },
      "BatchEmbedContentsRequest": {
        "description": "Batch request to get embeddings from the model for a list of prompts.",
        "properties": {
          "requests": {
            "description": "Required. Embed requests for the batch. The model in each of these requests must match the model specified `BatchEmbedContentsRequest.model`.",
            "items": {
              "$ref": "#/components/schemas/EmbedContentRequest"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "BatchEmbedContentsResponse": {
        "description": "The response to a `BatchEmbedContentsRequest`.",
        "properties": {
          "embeddings": {
            "description": "Output only. The embeddings for each request, in the same order as provided in the batch request.",
            "items": {
              "$ref": "#/components/schemas/ContentEmbedding"
            },
            "readOnly": true,
            "type": "array"
          }
        },
        "type": "object"
      },
      "BatchEmbedTextRequest": {
        "description": "Batch request to get a text embedding from the model.",
        "properties": {
          "requests": {
            "description": "Optional. Embed requests for the batch. Only one of `texts` or `requests` can be set.",
            "items": {
              "$ref": "#/components/schemas/EmbedTextRequest"
            },
            "type": "array"
          },
          "texts": {
            "description": "Optional. The free-form input texts that the model will turn into an embedding. The current limit is 100 texts, over which an error will be thrown.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "BatchEmbedTextResponse": {
        "description": "The response to a EmbedTextRequest.",
        "properties": {
          "embeddings": {
            "description": "Output only. The embeddings generated from the input text.",
            "items": {
              "$ref": "#/components/schemas/Embedding"
            },
            "readOnly": true,
            "type": "array"
          }
        },
        "type": "object"
      },
      "BatchGenerateContentRequest": {
        "description": "Request for a `BatchGenerateContent` operation.",
        "properties": {
          "batch": {
            "$ref": "#/components/schemas/GenerateContentBatch",
            "description": "Required. The batch to create."
          }
        },
        "type": "object"
      },
      "BatchStats": {
        "description": "Stats about the batch.",
        "properties": {
          "failedRequestCount": {
            "description": "Output only. The number of requests that failed to be processed.",
            "format": "int64",
            "readOnly": true,
            "type": "string"
          },
          "pendingRequestCount": {
            "description": "Output only. The number of requests that are still pending processing.",
            "format": "int64",
            "readOnly": true,
            "type": "string"
          },
          "requestCount": {
            "description": "Output only. The number of requests in the batch.",
            "format": "int64",
            "readOnly": true,
            "type": "string"
          },
          "successfulRequestCount": {
            "description": "Output only. The number of requests that were successfully processed.",
            "format": "int64",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "Blob": {
        "description": "Raw media bytes. Text should not be sent as raw bytes, use the 'text' field.",
        "properties": {
          "data": {
            "description": "Raw bytes for media formats.",
            "format": "byte",
            "type": "string"
          },
          "mimeType": {
            "description": "The IANA standard MIME type of the source data. Examples: - image/png - image/jpeg If an unsupported MIME type is provided, an error will be returned. For a complete list of supported types, see [Supported file formats](https://ai.google.dev/gemini-api/docs/prompting_with_media#supported_file_formats).",
            "type": "string"
          }
        },
        "type": "object"
      },
      "CachedContent": {
        "description": "Content that has been preprocessed and can be used in subsequent request to GenerativeService. Cached content can be only used with model it was created for.",
        "properties": {
          "contents": {
            "description": "Optional. Input only. Immutable. The content to cache.",
            "items": {
              "$ref": "#/components/schemas/Content"
            },
            "type": "array"
          },
          "createTime": {
            "description": "Output only. Creation time of the cache entry.",
            "format": "google-datetime",
            "readOnly": true,
            "type": "string"
          },
          "displayName": {
            "description": "Optional. Immutable. The user-generated meaningful display name of the cached content. Maximum 128 Unicode characters.",
            "type": "string"
          },
          "expireTime": {
            "description": "Timestamp in UTC of when this resource is considered expired. This is *always* provided on output, regardless of what was sent on input.",
            "format": "google-datetime",
            "type": "string"
          },
          "model": {
            "description": "Required. Immutable. The name of the `Model` to use for cached content Format: `models/{model}`",
            "type": "string"
          },
          "name": {
            "description": "Output only. Identifier. The resource name referring to the cached content. Format: `cachedContents/{id}`",
            "readOnly": true,
            "type": "string"
          },
          "systemInstruction": {
            "$ref": "#/components/schemas/Content",
            "description": "Optional. Input only. Immutable. Developer set system instruction. Currently text only."
          },
          "toolConfig": {
            "$ref": "#/components/schemas/ToolConfig",
            "description": "Optional. Input only. Immutable. Tool config. This config is shared for all tools."
          },
          "tools": {
            "description": "Optional. Input only. Immutable. A list of `Tools` the model may use to generate the next response",
            "items": {
              "$ref": "#/components/schemas/Tool"
            },
            "type": "array"
          },
          "ttl": {
            "description": "Input only. New TTL for this resource, input only.",
            "format": "google-duration",
            "type": "string"
          },
          "updateTime": {
            "description": "Output only. When the cache entry was last updated in UTC time.",
            "format": "google-datetime",
            "readOnly": true,
            "type": "string"
          },
          "usageMetadata": {
            "$ref": "#/components/schemas/CachedContentUsageMetadata",
            "description": "Output only. Metadata on the usage of the cached content.",
            "readOnly": true
          }
        },
        "type": "object"
      },
      "CachedContentUsageMetadata": {
        "description": "Metadata on the usage of the cached content.",
        "properties": {
          "totalTokenCount": {
            "description": "Total number of tokens that the cached content consumes.",
            "format": "int32",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "Candidate": {
        "description": "A response candidate generated from the model.",
        "properties": {
          "avgLogprobs": {
            "description": "Output only. Average log probability score of the candidate.",
            "format": "double",
            "readOnly": true,
            "type": "number"
          },
          "citationMetadata": {
            "$ref": "#/components/schemas/CitationMetadata",
            "description": "Output only. Citation information for model-generated candidate. This field may be populated with recitation information for any text included in the `content`. These are passages that are \"recited\" from copyrighted material in the foundational LLM's training data.",
            "readOnly": true
          },
          "content": {
            "$ref": "#/components/schemas/Content",
            "description": "Output only. Generated content returned from the model.",
            "readOnly": true
          },
          "finishMessage": {
            "description": "Optional. Output only. Details the reason why the model stopped generating tokens. This is populated only when `finish_reason` is set.",
            "readOnly": true,
            "type": "string"
          },
          "finishReason": {
            "description": "Optional. Output only. The reason why the model stopped generating tokens. If empty, the model has not stopped generating tokens.",
            "enum": [
              "FINISH_REASON_UNSPECIFIED",
              "STOP",
              "MAX_TOKENS",
              "SAFETY",
              "RECITATION",
              "LANGUAGE",
              "OTHER",
              "BLOCKLIST",
              "PROHIBITED_CONTENT",
              "SPII",
              "MALFORMED_FUNCTION_CALL",
              "IMAGE_SAFETY",
              "IMAGE_PROHIBITED_CONTENT",
              "IMAGE_OTHER",
              "NO_IMAGE",
              "IMAGE_RECITATION",
              "UNEXPECTED_TOOL_CALL",
              "TOO_MANY_TOOL_CALLS",
              "MISSING_THOUGHT_SIGNATURE",
              "MALFORMED_RESPONSE"
            ],
            "readOnly": true,
            "type": "string"
          },
          "groundingAttributions": {
            "description": "Output only. Attribution information for sources that contributed to a grounded answer. This field is populated for `GenerateAnswer` calls.",
            "items": {
              "$ref": "#/components/schemas/GroundingAttribution"
            },
            "readOnly": true,
            "type": "array"
          },
          "groundingMetadata": {
            "$ref": "#/components/schemas/GroundingMetadata",
            "description": "Output only. Grounding metadata for the candidate. This field is populated for `GenerateContent` calls.",
            "readOnly": true
          },
          "index": {
            "description": "Output only. Index of the candidate in the list of response candidates.",
            "format": "int32",
            "readOnly": true,
            "type": "integer"
          },
          "logprobsResult": {
            "$ref": "#/components/schemas/LogprobsResult",
            "description": "Output only. Log-likelihood scores for the response tokens and top tokens",
            "readOnly": true
          },
          "safetyRatings": {
            "description": "List of ratings for the safety of a response candidate. There is at most one rating per category.",
            "items": {
              "$ref": "#/components/schemas/SafetyRating"
            },
            "type": "array"
          },
          "tokenCount": {
            "description": "Output only. Token count for this candidate.",
            "format": "int32",
            "readOnly": true,
            "type": "integer"
          },
          "urlContextMetadata": {
            "$ref": "#/components/schemas/UrlContextMetadata",
            "description": "Output only. Metadata related to url context retrieval tool.",
            "readOnly": true
          }
        },
        "type": "object"
      },
      "ChunkingConfig": {
        "description": "Parameters for telling the service how to chunk the file. inspired by google3/cloud/ai/platform/extension/lib/retrieval/config/chunker_config.proto",
        "properties": {
          "whiteSpaceConfig": {
            "$ref": "#/components/schemas/WhiteSpaceConfig",
            "description": "White space chunking configuration."
          }
        },
        "type": "object"
      },
      "CitationMetadata": {
        "description": "A collection of source attributions for a piece of content.",
        "properties": {
          "citationSources": {
            "description": "Citations to sources for a specific response.",
            "items": {
              "$ref": "#/components/schemas/CitationSource"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "CitationSource": {
        "description": "A citation to a source for a portion of a specific response.",
        "properties": {
          "endIndex": {
            "description": "Optional. End of the attributed segment, exclusive.",
            "format": "int32",
            "type": "integer"
          },
          "license": {
            "description": "Optional. License for the GitHub project that is attributed as a source for segment. License info is required for code citations.",
            "type": "string"
          },
          "startIndex": {
            "description": "Optional. Start of segment of the response that is attributed to this source. Index indicates the start of the segment, measured in bytes.",
            "format": "int32",
            "type": "integer"
          },
          "uri": {
            "description": "Optional. URI that is attributed as a source for a portion of the text.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "CodeExecution": {
        "description": "Tool that executes code generated by the model, and automatically returns the result to the model. See also `ExecutableCode` and `CodeExecutionResult` which are only generated when using this tool.",
        "properties": {},
        "type": "object"
      },
      "CodeExecutionResult": {
        "description": "Result of executing the `ExecutableCode`. Only generated when using the `CodeExecution`, and always follows a `part` containing the `ExecutableCode`.",
        "properties": {
          "outcome": {
            "description": "Required. Outcome of the code execution.",
            "enum": [
              "OUTCOME_UNSPECIFIED",
              "OUTCOME_OK",
              "OUTCOME_FAILED",
              "OUTCOME_DEADLINE_EXCEEDED"
            ],
            "type": "string"
          },
          "output": {
            "description": "Optional. Contains stdout when code execution is successful, stderr or other description otherwise.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ComputerUse": {
        "description": "Computer Use tool type.",
        "properties": {
          "environment": {
            "description": "Required. The environment being operated.",
            "enum": [
              "ENVIRONMENT_UNSPECIFIED",
              "ENVIRONMENT_BROWSER"
            ],
            "type": "string"
          },
          "excludedPredefinedFunctions": {
            "description": "Optional. By default, predefined functions are included in the final model call. Some of them can be explicitly excluded from being automatically included. This can serve two purposes: 1. Using a more restricted / different action space. 2. Improving the definitions / instructions of predefined functions.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Condition": {
        "description": "Filter condition applicable to a single key.",
        "properties": {
          "numericValue": {
            "description": "The numeric value to filter the metadata on.",
            "format": "float",
            "type": "number"
          },
          "operation": {
            "description": "Required. Operator applied to the given key-value pair to trigger the condition.",
            "enum": [
              "OPERATOR_UNSPECIFIED",
              "LESS",
              "LESS_EQUAL",
              "EQUAL",
              "GREATER_EQUAL",
              "GREATER",
              "NOT_EQUAL",
              "INCLUDES",
              "EXCLUDES"
            ],
            "type": "string"
          },
          "stringValue": {
            "description": "The string value to filter the metadata on.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Content": {
        "description": "The base structured datatype containing multi-part content of a message. A `Content` includes a `role` field designating the producer of the `Content` and a `parts` field containing multi-part data that contains the content of the message turn.",
        "properties": {
          "parts": {
            "description": "Ordered `Parts` that constitute a single message. Parts may have different MIME types.",
            "items": {
              "$ref": "#/components/schemas/Part"
            },
            "type": "array"
          },
          "role": {
            "description": "Optional. The producer of the content. Must be either 'user' or 'model'. Useful to set for multi-turn conversations, otherwise can be left blank or unset.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ContentEmbedding": {
        "description": "A list of floats representing an embedding.",
        "properties": {
          "shape": {
            "description": "This field stores the soft tokens tensor frame shape (e.g. [1, 1, 256, 2048]).",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "type": "array"
          },
          "values": {
            "description": "The embedding values. This is for 3P users only and will not be populated for 1P calls.",
            "items": {
              "format": "float",
              "type": "number"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ContentFilter": {
        "description": "Content filtering metadata associated with processing a single request. ContentFilter contains a reason and an optional supporting string. The reason may be unspecified.",
        "properties": {
          "message": {
            "description": "A string that describes the filtering behavior in more detail.",
            "type": "string"
          },
          "reason": {
            "description": "The reason content was blocked during request processing.",
            "enum": [
              "BLOCKED_REASON_UNSPECIFIED",
              "SAFETY",
              "OTHER"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "Corpus": {
        "description": "A `Corpus` is a collection of `Document`s. A project can create up to 10 corpora.",
        "properties": {
          "createTime": {
            "description": "Output only. The Timestamp of when the `Corpus` was created.",
            "format": "google-datetime",
            "readOnly": true,
            "type": "string"
          },
          "displayName": {
            "description": "Optional. The human-readable display name for the `Corpus`. The display name must be no more than 512 characters in length, including spaces. Example: \"Docs on Semantic Retriever\"",
            "type": "string"
          },
          "name": {
            "description": "Output only. Immutable. Identifier. The `Corpus` resource name. The ID (name excluding the \"corpora/\" prefix) can contain up to 40 characters that are lowercase alphanumeric or dashes (-). The ID cannot start or end with a dash. If the name is empty on create, a unique name will be derived from `display_name` along with a 12 character random suffix. Example: `corpora/my-awesome-corpora-123a456b789c`",
            "readOnly": true,
            "type": "string"
          },
          "updateTime": {
            "description": "Output only. The Timestamp of when the `Corpus` was last updated.",
            "format": "google-datetime",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "CountMessageTokensRequest": {
        "description": "Counts the number of tokens in the `prompt` sent to a model. Models may tokenize text differently, so each model may return a different `token_count`.",
        "properties": {
          "prompt": {
            "$ref": "#/components/schemas/MessagePrompt",
            "description": "Required. The prompt, whose token count is to be returned."
          }
        },
        "type": "object"
      },
      "CountMessageTokensResponse": {
        "description": "A response from `CountMessageTokens`. It returns the model's `token_count` for the `prompt`.",
        "properties": {
          "tokenCount": {
            "description": "The number of tokens that the `model` tokenizes the `prompt` into. Always non-negative.",
            "format": "int32",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "CountTextTokensRequest": {
        "description": "Counts the number of tokens in the `prompt` sent to a model. Models may tokenize text differently, so each model may return a different `token_count`.",
        "properties": {
          "prompt": {
            "$ref": "#/components/schemas/TextPrompt",
            "description": "Required. The free-form input text given to the model as a prompt."
          }
        },
        "type": "object"
      },
      "CountTextTokensResponse": {
        "description": "A response from `CountTextTokens`. It returns the model's `token_count` for the `prompt`.",
        "properties": {
          "tokenCount": {
            "description": "The number of tokens that the `model` tokenizes the `prompt` into. Always non-negative.",
            "format": "int32",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "CountTokensRequest": {
        "description": "Counts the number of tokens in the `prompt` sent to a model. Models may tokenize text differently, so each model may return a different `token_count`.",
        "properties": {
          "contents": {
            "description": "Optional. The input given to the model as a prompt. This field is ignored when `generate_content_request` is set.",
            "items": {
              "$ref": "#/components/schemas/Content"
            },
            "type": "array"
          },
          "generateContentRequest": {
            "$ref": "#/components/schemas/GenerateContentRequest",
            "description": "Optional. The overall input given to the `Model`. This includes the prompt as well as other model steering information like [system instructions](https://ai.google.dev/gemini-api/docs/system-instructions), and/or function declarations for [function calling](https://ai.google.dev/gemini-api/docs/function-calling). `Model`s/`Content`s and `generate_content_request`s are mutually exclusive. You can either send `Model` + `Content`s or a `generate_content_request`, but never both."
          }
        },
        "type": "object"
      },
      "CountTokensResponse": {
        "description": "A response from `CountTokens`. It returns the model's `token_count` for the `prompt`.",
        "properties": {
          "cachedContentTokenCount": {
            "description": "Number of tokens in the cached part of the prompt (the cached content).",
            "format": "int32",
            "type": "integer"
          },
          "cacheTokensDetails": {
            "description": "Output only. List of modalities that were processed in the cached content.",
            "items": {
              "$ref": "#/components/schemas/ModalityTokenCount"
            },
            "readOnly": true,
            "type": "array"
          },
          "promptTokensDetails": {
            "description": "Output only. List of modalities that were processed in the request input.",
            "items": {
              "$ref": "#/components/schemas/ModalityTokenCount"
            },
            "readOnly": true,
            "type": "array"
          },
          "totalTokens": {
            "description": "The number of tokens that the `Model` tokenizes the `prompt` into. Always non-negative.",
            "format": "int32",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "CreateFileRequest": {
        "description": "Request for `CreateFile`.",
        "properties": {
          "file": {
            "$ref": "#/components/schemas/File",
            "description": "Optional. Metadata for the file to create."
          }
        },
        "type": "object"
      },
      "CreateFileResponse": {
        "description": "Response for `CreateFile`.",
        "properties": {
          "file": {
            "$ref": "#/components/schemas/File",
            "description": "Metadata for the created file."
          }
        },
        "type": "object"
      },
      "CustomLongRunningOperation": {
        "properties": {
          "done": {
            "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
            "type": "boolean"
          },
          "error": {
            "$ref": "#/components/schemas/Status",
            "description": "The error result of the operation in case of failure or cancellation."
          },
          "metadata": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
            "type": "object"
          },
          "name": {
            "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
            "type": "string"
          },
          "response": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
            "type": "object"
          }
        },
        "type": "object"
      },
      "CustomMetadata": {
        "description": "User provided metadata stored as key-value pairs.",
        "properties": {
          "key": {
            "description": "Required. The key of the metadata to store.",
            "type": "string"
          },
          "numericValue": {
            "description": "The numeric value of the metadata to store.",
            "format": "float",
            "type": "number"
          },
          "stringListValue": {
            "$ref": "#/components/schemas/StringList",
            "description": "The StringList value of the metadata to store."
          },
          "stringValue": {
            "description": "The string value of the metadata to store.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Dataset": {
        "description": "Dataset for training or validation.",
        "properties": {
          "examples": {
            "$ref": "#/components/schemas/TuningExamples",
            "description": "Optional. Inline examples with simple input/output text."
          }
        },
        "type": "object"
      },
      "Document": {
        "description": "A `Document` is a collection of `Chunk`s.",
        "properties": {
          "createTime": {
            "description": "Output only. The Timestamp of when the `Document` was created.",
            "format": "google-datetime",
            "readOnly": true,
            "type": "string"
          },
          "customMetadata": {
            "description": "Optional. User provided custom metadata stored as key-value pairs used for querying. A `Document` can have a maximum of 20 `CustomMetadata`.",
            "items": {
              "$ref": "#/components/schemas/CustomMetadata"
            },
            "type": "array"
          },
          "displayName": {
            "description": "Optional. The human-readable display name for the `Document`. The display name must be no more than 512 characters in length, including spaces. Example: \"Semantic Retriever Documentation\"",
            "type": "string"
          },
          "mimeType": {
            "description": "Output only. The mime type of the Document.",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "Immutable. Identifier. The `Document` resource name. The ID (name excluding the \"fileSearchStores/*/documents/\" prefix) can contain up to 40 characters that are lowercase alphanumeric or dashes (-). The ID cannot start or end with a dash. If the name is empty on create, a unique name will be derived from `display_name` along with a 12 character random suffix. Example: `fileSearchStores/{file_search_store_id}/documents/my-awesome-doc-123a456b789c`",
            "type": "string"
          },
          "sizeBytes": {
            "description": "Output only. The size of raw bytes ingested into the Document.",
            "format": "int64",
            "readOnly": true,
            "type": "string"
          },
          "state": {
            "description": "Output only. Current state of the `Document`.",
            "enum": [
              "STATE_UNSPECIFIED",
              "STATE_PENDING",
              "STATE_ACTIVE",
              "STATE_FAILED"
            ],
            "readOnly": true,
            "type": "string"
          },
          "updateTime": {
            "description": "Output only. The Timestamp of when the `Document` was last updated.",
            "format": "google-datetime",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "DownloadFileResponse": {
        "description": "Response for `DownloadFile`.",
        "properties": {},
        "type": "object"
      },
      "DynamicRetrievalConfig": {
        "description": "Describes the options to customize dynamic retrieval.",
        "properties": {
          "dynamicThreshold": {
            "description": "The threshold to be used in dynamic retrieval. If not set, a system default value is used.",
            "format": "float",
            "type": "number"
          },
          "mode": {
            "description": "The mode of the predictor to be used in dynamic retrieval.",
            "enum": [
              "MODE_UNSPECIFIED",
              "MODE_DYNAMIC"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "EmbedContentBatch": {
        "description": "A resource representing a batch of `EmbedContent` requests.",
        "properties": {
          "batchStats": {
            "$ref": "#/components/schemas/EmbedContentBatchStats",
            "description": "Output only. Stats about the batch.",
            "readOnly": true
          },
          "createTime": {
            "description": "Output only. The time at which the batch was created.",
            "format": "google-datetime",
            "readOnly": true,
            "type": "string"
          },
          "displayName": {
            "description": "Required. The user-defined name of this batch.",
            "type": "string"
          },
          "endTime": {
            "description": "Output only. The time at which the batch processing completed.",
            "format": "google-datetime",
            "readOnly": true,
            "type": "string"
          },
          "inputConfig": {
            "$ref": "#/components/schemas/InputEmbedContentConfig",
            "description": "Required. Input configuration of the instances on which batch processing are performed."
          },
          "model": {
            "description": "Required. The name of the `Model` to use for generating the completion. Format: `models/{model}`.",
            "type": "string"
          },
          "name": {
            "description": "Output only. Identifier. Resource name of the batch. Format: `batches/{batch_id}`.",
            "readOnly": true,
            "type": "string"
          },
          "output": {
            "$ref": "#/components/schemas/EmbedContentBatchOutput",
            "description": "Output only. The output of the batch request.",
            "readOnly": true
          },
          "priority": {
            "description": "Optional. The priority of the batch. Batches with a higher priority value will be processed before batches with a lower priority value. Negative values are allowed. Default is 0.",
            "format": "int64",
            "type": "string"
          },
          "state": {
            "description": "Output only. The state of the batch.",
            "enum": [
              "BATCH_STATE_UNSPECIFIED",
              "BATCH_STATE_PENDING",
              "BATCH_STATE_RUNNING",
              "BATCH_STATE_SUCCEEDED",
              "BATCH_STATE_FAILED",
              "BATCH_STATE_CANCELLED",
              "BATCH_STATE_EXPIRED"
            ],
            "readOnly": true,
            "type": "string"
          },
          "updateTime": {
            "description": "Output only. The time at which the batch was last updated.",
            "format": "google-datetime",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "EmbedContentBatchOutput": {
        "description": "The output of a batch request. This is returned in the `AsyncBatchEmbedContentResponse` or the `EmbedContentBatch.output` field.",
        "properties": {
          "inlinedResponses": {
            "$ref": "#/components/schemas/InlinedEmbedContentResponses",
            "description": "Output only. The responses to the requests in the batch. Returned when the batch was built using inlined requests. The responses will be in the same order as the input requests.",
            "readOnly": true
          },
          "responsesFile": {
            "description": "Output only. The file ID of the file containing the responses. The file will be a JSONL file with a single response per line. The responses will be `EmbedContentResponse` messages formatted as JSON. The responses will be written in the same order as the input requests.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "EmbedContentBatchStats": {
        "description": "Stats about the batch.",
        "properties": {
          "failedRequestCount": {
            "description": "Output only. The number of requests that failed to be processed.",
            "format": "int64",
            "readOnly": true,
            "type": "string"
          },
          "pendingRequestCount": {
            "description": "Output only. The number of requests that are still pending processing.",
            "format": "int64",
            "readOnly": true,
            "type": "string"
          },
          "requestCount": {
            "description": "Output only. The number of requests in the batch.",
            "format": "int64",
            "readOnly": true,
            "type": "string"
          },
          "successfulRequestCount": {
            "description": "Output only. The number of requests that were successfully processed.",
            "format": "int64",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "EmbedContentRequest": {
        "description": "Request containing the `Content` for the model to embed.",
        "properties": {
          "content": {
            "$ref": "#/components/schemas/Content",
            "description": "Required. The content to embed. Only the `parts.text` fields will be counted."
          },
          "model": {
            "description": "Required. The model's resource name. This serves as an ID for the Model to use. This name should match a model name returned by the `ListModels` method. Format: `models/{model}`",
            "type": "string"
          },
          "outputDimensionality": {
            "description": "Optional. Optional reduced dimension for the output embedding. If set, excessive values in the output embedding are truncated from the end. Supported by newer models since 2024 only. You cannot set this value if using the earlier model (`models/embedding-001`).",
            "format": "int32",
            "type": "integer"
          },
          "taskType": {
            "description": "Optional. Optional task type for which the embeddings will be used. Not supported on earlier models (`models/embedding-001`).",
            "enum": [
              "TASK_TYPE_UNSPECIFIED",
              "RETRIEVAL_QUERY",
              "RETRIEVAL_DOCUMENT",
              "SEMANTIC_SIMILARITY",
              "CLASSIFICATION",
              "CLUSTERING",
              "QUESTION_ANSWERING",
              "FACT_VERIFICATION",
              "CODE_RETRIEVAL_QUERY"
            ],
            "type": "string"
          },
          "title": {
            "description": "Optional. An optional title for the text. Only applicable when TaskType is `RETRIEVAL_DOCUMENT`. Note: Specifying a `title` for `RETRIEVAL_DOCUMENT` provides better quality embeddings for retrieval.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "EmbedContentResponse": {
        "description": "The response to an `EmbedContentRequest`.",
        "properties": {
          "embedding": {
            "$ref": "#/components/schemas/ContentEmbedding",
            "description": "Output only. The embedding generated from the input content.",
            "readOnly": true
          }
        },
        "type": "object"
      },
      "Embedding": {
        "description": "A list of floats representing the embedding.",
        "properties": {
          "value": {
            "description": "The embedding values.",
            "items": {
              "format": "float",
              "type": "number"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "EmbedTextRequest": {
        "description": "Request to get a text embedding from the model.",
        "properties": {
          "model": {
            "description": "Required. The model name to use with the format model=models/{model}.",
            "type": "string"
          },
          "text": {
            "description": "Optional. The free-form input text that the model will turn into an embedding.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "EmbedTextResponse": {
        "description": "The response to a EmbedTextRequest.",
        "properties": {
          "embedding": {
            "$ref": "#/components/schemas/Embedding",
            "description": "Output only. The embedding generated from the input text.",
            "readOnly": true
          }
        },
        "type": "object"
      },
      "Empty": {
        "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
        "properties": {},
        "type": "object"
      },
      "Example": {
        "description": "An input/output example used to instruct the Model. It demonstrates how the model should respond or format its response.",
        "properties": {
          "input": {
            "$ref": "#/components/schemas/Message",
            "description": "Required. An example of an input `Message` from the user."
          },
          "output": {
            "$ref": "#/components/schemas/Message",
            "description": "Required. An example of what the model should output given the input."
          }
        },
        "type": "object"
      },
      "ExecutableCode": {
        "description": "Code generated by the model that is meant to be executed, and the result returned to the model. Only generated when using the `CodeExecution` tool, in which the code will be automatically executed, and a corresponding `CodeExecutionResult` will also be generated.",
        "properties": {
          "code": {
            "description": "Required. The code to be executed.",
            "type": "string"
          },
          "language": {
            "description": "Required. Programming language of the `code`.",
            "enum": [
              "LANGUAGE_UNSPECIFIED",
              "PYTHON"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "File": {
        "description": "A file uploaded to the API. Next ID: 15",
        "properties": {
          "createTime": {
            "description": "Output only. The timestamp of when the `File` was created.",
            "format": "google-datetime",
            "readOnly": true,
            "type": "string"
          },
          "displayName": {
            "description": "Optional. The human-readable display name for the `File`. The display name must be no more than 512 characters in length, including spaces. Example: \"Welcome Image\"",
            "type": "string"
          },
          "downloadUri": {
            "description": "Output only. The download uri of the `File`.",
            "readOnly": true,
            "type": "string"
          },
          "error": {
            "$ref": "#/components/schemas/Status",
            "description": "Output only. Error status if File processing failed.",
            "readOnly": true
          },
          "expirationTime": {
            "description": "Output only. The timestamp of when the `File` will be deleted. Only set if the `File` is scheduled to expire.",
            "format": "google-datetime",
            "readOnly": true,
            "type": "string"
          },
          "mimeType": {
            "description": "Output only. MIME type of the file.",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "Immutable. Identifier. The `File` resource name. The ID (name excluding the \"files/\" prefix) can contain up to 40 characters that are lowercase alphanumeric or dashes (-). The ID cannot start or end with a dash. If the name is empty on create, a unique name will be generated. Example: `files/123-456`",
            "type": "string"
          },
          "sha256Hash": {
            "description": "Output only. SHA-256 hash of the uploaded bytes.",
            "format": "byte",
            "readOnly": true,
            "type": "string"
          },
          "sizeBytes": {
            "description": "Output only. Size of the file in bytes.",
            "format": "int64",
            "readOnly": true,
            "type": "string"
          },
          "source": {
            "description": "Source of the File.",
            "enum": [
              "SOURCE_UNSPECIFIED",
              "UPLOADED",
              "GENERATED",
              "REGISTERED"
            ],
            "type": "string"
          },
          "state": {
            "description": "Output only. Processing state of the File.",
            "enum": [
              "STATE_UNSPECIFIED",
              "PROCESSING",
              "ACTIVE",
              "FAILED"
            ],
            "readOnly": true,
            "type": "string"
          },
          "updateTime": {
            "description": "Output only. The timestamp of when the `File` was last updated.",
            "format": "google-datetime",
            "readOnly": true,
            "type": "string"
          },
          "uri": {
            "description": "Output only. The uri of the `File`.",
            "readOnly": true,
            "type": "string"
          },
          "videoMetadata": {
            "$ref": "#/components/schemas/VideoFileMetadata",
            "description": "Output only. Metadata for a video.",
            "readOnly": true
          }
        },
        "type": "object"
      },
      "FileData": {
        "description": "URI based data.",
        "properties": {
          "fileUri": {
            "description": "Required. URI.",
            "type": "string"
          },
          "mimeType": {
            "description": "Optional. The IANA standard MIME type of the source data.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "FileSearch": {
        "description": "The FileSearch tool that retrieves knowledge from Semantic Retrieval corpora. Files are imported to Semantic Retrieval corpora using the ImportFile API.",
        "properties": {
          "fileSearchStoreNames": {
            "description": "Required. The names of the file_search_stores to retrieve from. Example: `fileSearchStores/my-file-search-store-123`",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "metadataFilter": {
            "description": "Optional. Metadata filter to apply to the semantic retrieval documents and chunks.",
            "type": "string"
          },
          "topK": {
            "description": "Optional. The number of semantic retrieval chunks to retrieve.",
            "format": "int32",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "FileSearchStore": {
        "description": "A `FileSearchStore` is a collection of `Document`s.",
        "properties": {
          "activeDocumentsCount": {
            "description": "Output only. The number of documents in the `FileSearchStore` that are active and ready for retrieval.",
            "format": "int64",
            "readOnly": true,
            "type": "string"
          },
          "createTime": {
            "description": "Output only. The Timestamp of when the `FileSearchStore` was created.",
            "format": "google-datetime",
            "readOnly": true,
            "type": "string"
          },
          "displayName": {
            "description": "Optional. The human-readable display name for the `FileSearchStore`. The display name must be no more than 512 characters in length, including spaces. Example: \"Docs on Semantic Retriever\"",
            "type": "string"
          },
          "failedDocumentsCount": {
            "description": "Output only. The number of documents in the `FileSearchStore` that have failed processing.",
            "format": "int64",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "Output only. Immutable. Identifier. The `FileSearchStore` resource name. It is an ID (name excluding the \"fileSearchStores/\" prefix) that can contain up to 40 characters that are lowercase alphanumeric or dashes (-). It is output only. The unique name will be derived from `display_name` along with a 12 character random suffix. Example: `fileSearchStores/my-awesome-file-search-store-123a456b789c` If `display_name` is not provided, the name will be randomly generated.",
            "readOnly": true,
            "type": "string"
          },
          "pendingDocumentsCount": {
            "description": "Output only. The number of documents in the `FileSearchStore` that are being processed.",
            "format": "int64",
            "readOnly": true,
            "type": "string"
          },
          "sizeBytes": {
            "description": "Output only. The size of raw bytes ingested into the `FileSearchStore`. This is the total size of all the documents in the `FileSearchStore`.",
            "format": "int64",
            "readOnly": true,
            "type": "string"
          },
          "updateTime": {
            "description": "Output only. The Timestamp of when the `FileSearchStore` was last updated.",
            "format": "google-datetime",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "FunctionCall": {
        "description": "A predicted `FunctionCall` returned from the model that contains a string representing the `FunctionDeclaration.name` with the arguments and their values.",
        "properties": {
          "args": {
            "additionalProperties": {
              "description": "Properties of the object."
            },
            "description": "Optional. The function parameters and values in JSON object format.",
            "type": "object"
          },
          "id": {
            "description": "Optional. Unique identifier of the function call. If populated, the client to execute the `function_call` and return the response with the matching `id`.",
            "type": "string"
          },
          "name": {
            "description": "Required. The name of the function to call. Must be a-z, A-Z, 0-9, or contain underscores and dashes, with a maximum length of 64.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "FunctionCallingConfig": {
        "description": "Configuration for specifying function calling behavior.",
        "properties": {
          "allowedFunctionNames": {
            "description": "Optional. A set of function names that, when provided, limits the functions the model will call. This should only be set when the Mode is ANY or VALIDATED. Function names should match [FunctionDeclaration.name]. When set, model will predict a function call from only allowed function names.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "mode": {
            "description": "Optional. Specifies the mode in which function calling should execute. If unspecified, the default value will be set to AUTO.",
            "enum": [
              "MODE_UNSPECIFIED",
              "AUTO",
              "ANY",
              "NONE",
              "VALIDATED"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "FunctionDeclaration": {
        "description": "Structured representation of a function declaration as defined by the [OpenAPI 3.03 specification](https://spec.openapis.org/oas/v3.0.3). Included in this declaration are the function name and parameters. This FunctionDeclaration is a representation of a block of code that can be used as a `Tool` by the model and executed by the client.",
        "properties": {
          "behavior": {
            "description": "Optional. Specifies the function Behavior. Currently only supported by the BidiGenerateContent method.",
            "enum": [
              "UNSPECIFIED",
              "BLOCKING",
              "NON_BLOCKING"
            ],
            "type": "string"
          },
          "description": {
            "description": "Required. A brief description of the function.",
            "type": "string"
          },
          "name": {
            "description": "Required. The name of the function. Must be a-z, A-Z, 0-9, or contain underscores, colons, dots, and dashes, with a maximum length of 64.",
            "type": "string"
          },
          "parameters": {
            "$ref": "#/components/schemas/Schema",
            "description": "Optional. Describes the parameters to this function. Reflects the Open API 3.03 Parameter Object string Key: the name of the parameter. Parameter names are case sensitive. Schema Value: the Schema defining the type used for the parameter."
          },
          "parametersJsonSchema": {
            "description": "Optional. Describes the parameters to the function in JSON Schema format. The schema must describe an object where the properties are the parameters to the function. For example: ``` { \"type\": \"object\", \"properties\": { \"name\": { \"type\": \"string\" }, \"age\": { \"type\": \"integer\" } }, \"additionalProperties\": false, \"required\": [\"name\", \"age\"], \"propertyOrdering\": [\"name\", \"age\"] } ``` This field is mutually exclusive with `parameters`."
          },
          "response": {
            "$ref": "#/components/schemas/Schema",
            "description": "Optional. Describes the output from this function in JSON Schema format. Reflects the Open API 3.03 Response Object. The Schema defines the type used for the response value of the function."
          },
          "responseJsonSchema": {
            "description": "Optional. Describes the output from this function in JSON Schema format. The value specified by the schema is the response value of the function. This field is mutually exclusive with `response`."
          }
        },
        "type": "object"
      },
      "FunctionResponse": {
        "description": "The result output from a `FunctionCall` that contains a string representing the `FunctionDeclaration.name` and a structured JSON object containing any output from the function is used as context to the model. This should contain the result of a`FunctionCall` made based on model prediction.",
        "properties": {
          "id": {
            "description": "Optional. The identifier of the function call this response is for. Populated by the client to match the corresponding function call `id`.",
            "type": "string"
          },
          "name": {
            "description": "Required. The name of the function to call. Must be a-z, A-Z, 0-9, or contain underscores and dashes, with a maximum length of 64.",
            "type": "string"
          },
          "parts": {
            "description": "Optional. Ordered `Parts` that constitute a function response. Parts may have different IANA MIME types.",
            "items": {
              "$ref": "#/components/schemas/FunctionResponsePart"
            },
            "type": "array"
          },
          "response": {
            "additionalProperties": {
              "description": "Properties of the object."
            },
            "description": "Required. The function response in JSON object format. Callers can use any keys of their choice that fit the function's syntax to return the function output, e.g. \"output\", \"result\", etc. In particular, if the function call failed to execute, the response can have an \"error\" key to return error details to the model.",
            "type": "object"
          },
          "scheduling": {
            "description": "Optional. Specifies how the response should be scheduled in the conversation. Only applicable to NON_BLOCKING function calls, is ignored otherwise. Defaults to WHEN_IDLE.",
            "enum": [
              "SCHEDULING_UNSPECIFIED",
              "SILENT",
              "WHEN_IDLE",
              "INTERRUPT"
            ],
            "type": "string"
          },
          "willContinue": {
            "description": "Optional. Signals that function call continues, and more responses will be returned, turning the function call into a generator. Is only applicable to NON_BLOCKING function calls, is ignored otherwise. If set to false, future responses will not be considered. It is allowed to return empty `response` with `will_continue=False` to signal that the function call is finished. This may still trigger the model generation. To avoid triggering the generation and finish the function call, additionally set `scheduling` to `SILENT`.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "FunctionResponseBlob": {
        "description": "Raw media bytes for function response. Text should not be sent as raw bytes, use the 'FunctionResponse.response' field.",
        "properties": {
          "data": {
            "description": "Raw bytes for media formats.",
            "format": "byte",
            "type": "string"
          },
          "mimeType": {
            "description": "The IANA standard MIME type of the source data. Examples: - image/png - image/jpeg If an unsupported MIME type is provided, an error will be returned. For a complete list of supported types, see [Supported file formats](https://ai.google.dev/gemini-api/docs/prompting_with_media#supported_file_formats).",
            "type": "string"
          }
        },
        "type": "object"
      },
      "FunctionResponsePart": {
        "description": "A datatype containing media that is part of a `FunctionResponse` message. A `FunctionResponsePart` consists of data which has an associated datatype. A `FunctionResponsePart` can only contain one of the accepted types in `FunctionResponsePart.data`. A `FunctionResponsePart` must have a fixed IANA MIME type identifying the type and subtype of the media if the `inline_data` field is filled with raw bytes.",
        "properties": {
          "inlineData": {
            "$ref": "#/components/schemas/FunctionResponseBlob",
            "description": "Inline media bytes."
          }
        },
        "type": "object"
      },
      "GenerateAnswerRequest": {
        "description": "Request to generate a grounded answer from the `Model`.",
        "properties": {
          "answerStyle": {
            "description": "Required. Style in which answers should be returned.",
            "enum": [
              "ANSWER_STYLE_UNSPECIFIED",
              "ABSTRACTIVE",
              "EXTRACTIVE",
              "VERBOSE"
            ],
            "type": "string"
          },
          "contents": {
            "description": "Required. The content of the current conversation with the `Model`. For single-turn queries, this is a single question to answer. For multi-turn queries, this is a repeated field that contains conversation history and the last `Content` in the list containing the question. Note: `GenerateAnswer` only supports queries in English.",
            "items": {
              "$ref": "#/components/schemas/Content"
            },
            "type": "array"
          },
          "inlinePassages": {
            "$ref": "#/components/schemas/GroundingPassages",
            "description": "Passages provided inline with the request."
          },
          "safetySettings": {
            "description": "Optional. A list of unique `SafetySetting` instances for blocking unsafe content. This will be enforced on the `GenerateAnswerRequest.contents` and `GenerateAnswerResponse.candidate`. There should not be more than one setting for each `SafetyCategory` type. The API will block any contents and responses that fail to meet the thresholds set by these settings. This list overrides the default settings for each `SafetyCategory` specified in the safety_settings. If there is no `SafetySetting` for a given `SafetyCategory` provided in the list, the API will use the default safety setting for that category. Harm categories HARM_CATEGORY_HATE_SPEECH, HARM_CATEGORY_SEXUALLY_EXPLICIT, HARM_CATEGORY_DANGEROUS_CONTENT, HARM_CATEGORY_HARASSMENT are supported. Refer to the [guide](https://ai.google.dev/gemini-api/docs/safety-settings) for detailed information on available safety settings. Also refer to the [Safety guidance](https://ai.google.dev/gemini-api/docs/safety-guidance) to learn how to incorporate safety considerations in your AI applications.",
            "items": {
              "$ref": "#/components/schemas/SafetySetting"
            },
            "type": "array"
          },
          "semanticRetriever": {
            "$ref": "#/components/schemas/SemanticRetrieverConfig",
            "description": "Content retrieved from resources created via the Semantic Retriever API."
          },
          "temperature": {
            "description": "Optional. Controls the randomness of the output. Values can range from [0.0,1.0], inclusive. A value closer to 1.0 will produce responses that are more varied and creative, while a value closer to 0.0 will typically result in more straightforward responses from the model. A low temperature (~0.2) is usually recommended for Attributed-Question-Answering use cases.",
            "format": "float",
            "type": "number"
          }
        },
        "type": "object"
      },
      "GenerateAnswerResponse": {
        "description": "Response from the model for a grounded answer.",
        "properties": {
          "answer": {
            "$ref": "#/components/schemas/Candidate",
            "description": "Candidate answer from the model. Note: The model *always* attempts to provide a grounded answer, even when the answer is unlikely to be answerable from the given passages. In that case, a low-quality or ungrounded answer may be provided, along with a low `answerable_probability`."
          },
          "answerableProbability": {
            "description": "Output only. The model's estimate of the probability that its answer is correct and grounded in the input passages. A low `answerable_probability` indicates that the answer might not be grounded in the sources. When `answerable_probability` is low, you may want to: * Display a message to the effect of \"We couldn’t answer that question\" to the user. * Fall back to a general-purpose LLM that answers the question from world knowledge. The threshold and nature of such fallbacks will depend on individual use cases. `0.5` is a good starting threshold.",
            "format": "float",
            "readOnly": true,
            "type": "number"
          },
          "inputFeedback": {
            "$ref": "#/components/schemas/InputFeedback",
            "description": "Output only. Feedback related to the input data used to answer the question, as opposed to the model-generated response to the question. The input data can be one or more of the following: - Question specified by the last entry in `GenerateAnswerRequest.content` - Conversation history specified by the other entries in `GenerateAnswerRequest.content` - Grounding sources (`GenerateAnswerRequest.semantic_retriever` or `GenerateAnswerRequest.inline_passages`)",
            "readOnly": true
          }
        },
        "type": "object"
      },
      "GenerateContentBatch": {
        "description": "A resource representing a batch of `GenerateContent` requests.",
        "properties": {
          "batchStats": {
            "$ref": "#/components/schemas/BatchStats",
            "description": "Output only. Stats about the batch.",
            "readOnly": true
          },
          "createTime": {
            "description": "Output only. The time at which the batch was created.",
            "format": "google-datetime",
            "readOnly": true,
            "type": "string"
          },
          "displayName": {
            "description": "Required. The user-defined name of this batch.",
            "type": "string"
          },
          "endTime": {
            "description": "Output only. The time at which the batch processing completed.",
            "format": "google-datetime",
            "readOnly": true,
            "type": "string"
          },
          "inputConfig": {
            "$ref": "#/components/schemas/InputConfig",
            "description": "Required. Input configuration of the instances on which batch processing are performed."
          },
          "model": {
            "description": "Required. The name of the `Model` to use for generating the completion. Format: `models/{model}`.",
            "type": "string"
          },
          "name": {
            "description": "Output only. Identifier. Resource name of the batch. Format: `batches/{batch_id}`.",
            "readOnly": true,
            "type": "string"
          },
          "output": {
            "$ref": "#/components/schemas/GenerateContentBatchOutput",
            "description": "Output only. The output of the batch request.",
            "readOnly": true
          },
          "priority": {
            "description": "Optional. The priority of the batch. Batches with a higher priority value will be processed before batches with a lower priority value. Negative values are allowed. Default is 0.",
            "format": "int64",
            "type": "string"
          },
          "state": {
            "description": "Output only. The state of the batch.",
            "enum": [
              "BATCH_STATE_UNSPECIFIED",
              "BATCH_STATE_PENDING",
              "BATCH_STATE_RUNNING",
              "BATCH_STATE_SUCCEEDED",
              "BATCH_STATE_FAILED",
              "BATCH_STATE_CANCELLED",
              "BATCH_STATE_EXPIRED"
            ],
            "readOnly": true,
            "type": "string"
          },
          "updateTime": {
            "description": "Output only. The time at which the batch was last updated.",
            "format": "google-datetime",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "GenerateContentBatchOutput": {
        "description": "The output of a batch request. This is returned in the `BatchGenerateContentResponse` or the `GenerateContentBatch.output` field.",
        "properties": {
          "inlinedResponses": {
            "$ref": "#/components/schemas/InlinedResponses",
            "description": "Output only. The responses to the requests in the batch. Returned when the batch was built using inlined requests. The responses will be in the same order as the input requests.",
            "readOnly": true
          },
          "responsesFile": {
            "description": "Output only. The file ID of the file containing the responses. The file will be a JSONL file with a single response per line. The responses will be `GenerateContentResponse` messages formatted as JSON. The responses will be written in the same order as the input requests.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "GenerateContentRequest": {
        "description": "Request to generate a completion from the model.",
        "properties": {
          "cachedContent": {
            "description": "Optional. The name of the content [cached](https://ai.google.dev/gemini-api/docs/caching) to use as context to serve the prediction. Format: `cachedContents/{cachedContent}`",
            "type": "string"
          },
          "contents": {
            "description": "Required. The content of the current conversation with the model. For single-turn queries, this is a single instance. For multi-turn queries like [chat](https://ai.google.dev/gemini-api/docs/text-generation#chat), this is a repeated field that contains the conversation history and the latest request.",
            "items": {
              "$ref": "#/components/schemas/Content"
            },
            "type": "array"
          },
          "generationConfig": {
            "$ref": "#/components/schemas/GenerationConfig",
            "description": "Optional. Configuration options for model generation and outputs."
          },
          "model": {
            "description": "Required. The name of the `Model` to use for generating the completion. Format: `models/{model}`.",
            "type": "string"
          },
          "safetySettings": {
            "description": "Optional. A list of unique `SafetySetting` instances for blocking unsafe content. This will be enforced on the `GenerateContentRequest.contents` and `GenerateContentResponse.candidates`. There should not be more than one setting for each `SafetyCategory` type. The API will block any contents and responses that fail to meet the thresholds set by these settings. This list overrides the default settings for each `SafetyCategory` specified in the safety_settings. If there is no `SafetySetting` for a given `SafetyCategory` provided in the list, the API will use the default safety setting for that category. Harm categories HARM_CATEGORY_HATE_SPEECH, HARM_CATEGORY_SEXUALLY_EXPLICIT, HARM_CATEGORY_DANGEROUS_CONTENT, HARM_CATEGORY_HARASSMENT, HARM_CATEGORY_CIVIC_INTEGRITY are supported. Refer to the [guide](https://ai.google.dev/gemini-api/docs/safety-settings) for detailed information on available safety settings. Also refer to the [Safety guidance](https://ai.google.dev/gemini-api/docs/safety-guidance) to learn how to incorporate safety considerations in your AI applications.",
            "items": {
              "$ref": "#/components/schemas/SafetySetting"
            },
            "type": "array"
          },
          "systemInstruction": {
            "$ref": "#/components/schemas/Content",
            "description": "Optional. Developer set [system instruction(s)](https://ai.google.dev/gemini-api/docs/system-instructions). Currently, text only."
          },
          "toolConfig": {
            "$ref": "#/components/schemas/ToolConfig",
            "description": "Optional. Tool configuration for any `Tool` specified in the request. Refer to the [Function calling guide](https://ai.google.dev/gemini-api/docs/function-calling#function_calling_mode) for a usage example."
          },
          "tools": {
            "description": "Optional. A list of `Tools` the `Model` may use to generate the next response. A `Tool` is a piece of code that enables the system to interact with external systems to perform an action, or set of actions, outside of knowledge and scope of the `Model`. Supported `Tool`s are `Function` and `code_execution`. Refer to the [Function calling](https://ai.google.dev/gemini-api/docs/function-calling) and the [Code execution](https://ai.google.dev/gemini-api/docs/code-execution) guides to learn more.",
            "items": {
              "$ref": "#/components/schemas/Tool"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "GenerateContentResponse": {
        "description": "Response from the model supporting multiple candidate responses. Safety ratings and content filtering are reported for both prompt in `GenerateContentResponse.prompt_feedback` and for each candidate in `finish_reason` and in `safety_ratings`. The API: - Returns either all requested candidates or none of them - Returns no candidates at all only if there was something wrong with the prompt (check `prompt_feedback`) - Reports feedback on each candidate in `finish_reason` and `safety_ratings`.",
        "properties": {
          "candidates": {
            "description": "Candidate responses from the model.",
            "items": {
              "$ref": "#/components/schemas/Candidate"
            },
            "type": "array"
          },
          "modelStatus": {
            "$ref": "#/components/schemas/ModelStatus",
            "description": "Output only. The current model status of this model.",
            "readOnly": true
          },
          "modelVersion": {
            "description": "Output only. The model version used to generate the response.",
            "readOnly": true,
            "type": "string"
          },
          "promptFeedback": {
            "$ref": "#/components/schemas/PromptFeedback",
            "description": "Returns the prompt's feedback related to the content filters."
          },
          "responseId": {
            "description": "Output only. response_id is used to identify each response.",
            "readOnly": true,
            "type": "string"
          },
          "usageMetadata": {
            "$ref": "#/components/schemas/UsageMetadata",
            "description": "Output only. Metadata on the generation requests' token usage.",
            "readOnly": true
          }
        },
        "type": "object"
      },
      "GeneratedFile": {
        "description": "A file generated on behalf of a user.",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/Status",
            "description": "Error details if the GeneratedFile ends up in the STATE_FAILED state."
          },
          "mimeType": {
            "description": "MIME type of the generatedFile.",
            "type": "string"
          },
          "name": {
            "description": "Identifier. The name of the generated file. Example: `generatedFiles/abc-123`",
            "type": "string"
          },
          "state": {
            "description": "Output only. The state of the GeneratedFile.",
            "enum": [
              "STATE_UNSPECIFIED",
              "GENERATING",
              "GENERATED",
              "FAILED"
            ],
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "GenerateMessageRequest": {
        "description": "Request to generate a message response from the model.",
        "properties": {
          "candidateCount": {
            "description": "Optional. The number of generated response messages to return. This value must be between `[1, 8]`, inclusive. If unset, this will default to `1`.",
            "format": "int32",
            "type": "integer"
          },
          "prompt": {
            "$ref": "#/components/schemas/MessagePrompt",
            "description": "Required. The structured textual input given to the model as a prompt. Given a prompt, the model will return what it predicts is the next message in the discussion."
          },
          "temperature": {
            "description": "Optional. Controls the randomness of the output. Values can range over `[0.0,1.0]`, inclusive. A value closer to `1.0` will produce responses that are more varied, while a value closer to `0.0` will typically result in less surprising responses from the model.",
            "format": "float",
            "type": "number"
          },
          "topK": {
            "description": "Optional. The maximum number of tokens to consider when sampling. The model uses combined Top-k and nucleus sampling. Top-k sampling considers the set of `top_k` most probable tokens.",
            "format": "int32",
            "type": "integer"
          },
          "topP": {
            "description": "Optional. The maximum cumulative probability of tokens to consider when sampling. The model uses combined Top-k and nucleus sampling. Nucleus sampling considers the smallest set of tokens whose probability sum is at least `top_p`.",
            "format": "float",
            "type": "number"
          }
        },
        "type": "object"
      },
      "GenerateMessageResponse": {
        "description": "The response from the model. This includes candidate messages and conversation history in the form of chronologically-ordered messages.",
        "properties": {
          "candidates": {
            "description": "Candidate response messages from the model.",
            "items": {
              "$ref": "#/components/schemas/Message"
            },
            "type": "array"
          },
          "filters": {
            "description": "A set of content filtering metadata for the prompt and response text. This indicates which `SafetyCategory`(s) blocked a candidate from this response, the lowest `HarmProbability` that triggered a block, and the HarmThreshold setting for that category.",
            "items": {
              "$ref": "#/components/schemas/ContentFilter"
            },
            "type": "array"
          },
          "messages": {
            "description": "The conversation history used by the model.",
            "items": {
              "$ref": "#/components/schemas/Message"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "GenerateTextRequest": {
        "description": "Request to generate a text completion response from the model.",
        "properties": {
          "candidateCount": {
            "description": "Optional. Number of generated responses to return. This value must be between [1, 8], inclusive. If unset, this will default to 1.",
            "format": "int32",
            "type": "integer"
          },
          "maxOutputTokens": {
            "description": "Optional. The maximum number of tokens to include in a candidate. If unset, this will default to output_token_limit specified in the `Model` specification.",
            "format": "int32",
            "type": "integer"
          },
          "prompt": {
            "$ref": "#/components/schemas/TextPrompt",
            "description": "Required. The free-form input text given to the model as a prompt. Given a prompt, the model will generate a TextCompletion response it predicts as the completion of the input text."
          },
          "safetySettings": {
            "description": "Optional. A list of unique `SafetySetting` instances for blocking unsafe content. that will be enforced on the `GenerateTextRequest.prompt` and `GenerateTextResponse.candidates`. There should not be more than one setting for each `SafetyCategory` type. The API will block any prompts and responses that fail to meet the thresholds set by these settings. This list overrides the default settings for each `SafetyCategory` specified in the safety_settings. If there is no `SafetySetting` for a given `SafetyCategory` provided in the list, the API will use the default safety setting for that category. Harm categories HARM_CATEGORY_DEROGATORY, HARM_CATEGORY_TOXICITY, HARM_CATEGORY_VIOLENCE, HARM_CATEGORY_SEXUAL, HARM_CATEGORY_MEDICAL, HARM_CATEGORY_DANGEROUS are supported in text service.",
            "items": {
              "$ref": "#/components/schemas/SafetySetting"
            },
            "type": "array"
          },
          "stopSequences": {
            "description": "The set of character sequences (up to 5) that will stop output generation. If specified, the API will stop at the first appearance of a stop sequence. The stop sequence will not be included as part of the response.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "temperature": {
            "description": "Optional. Controls the randomness of the output. Note: The default value varies by model, see the `Model.temperature` attribute of the `Model` returned the `getModel` function. Values can range from [0.0,1.0], inclusive. A value closer to 1.0 will produce responses that are more varied and creative, while a value closer to 0.0 will typically result in more straightforward responses from the model.",
            "format": "float",
            "type": "number"
          },
          "topK": {
            "description": "Optional. The maximum number of tokens to consider when sampling. The model uses combined Top-k and nucleus sampling. Top-k sampling considers the set of `top_k` most probable tokens. Defaults to 40. Note: The default value varies by model, see the `Model.top_k` attribute of the `Model` returned the `getModel` function.",
            "format": "int32",
            "type": "integer"
          },
          "topP": {
            "description": "Optional. The maximum cumulative probability of tokens to consider when sampling. The model uses combined Top-k and nucleus sampling. Tokens are sorted based on their assigned probabilities so that only the most likely tokens are considered. Top-k sampling directly limits the maximum number of tokens to consider, while Nucleus sampling limits number of tokens based on the cumulative probability. Note: The default value varies by model, see the `Model.top_p` attribute of the `Model` returned the `getModel` function.",
            "format": "float",
            "type": "number"
          }
        },
        "type": "object"
      },
      "GenerateTextResponse": {
        "description": "The response from the model, including candidate completions.",
        "properties": {
          "candidates": {
            "description": "Candidate responses from the model.",
            "items": {
              "$ref": "#/components/schemas/TextCompletion"
            },
            "type": "array"
          },
          "filters": {
            "description": "A set of content filtering metadata for the prompt and response text. This indicates which `SafetyCategory`(s) blocked a candidate from this response, the lowest `HarmProbability` that triggered a block, and the HarmThreshold setting for that category. This indicates the smallest change to the `SafetySettings` that would be necessary to unblock at least 1 response. The blocking is configured by the `SafetySettings` in the request (or the default `SafetySettings` of the API).",
            "items": {
              "$ref": "#/components/schemas/ContentFilter"
            },
            "type": "array"
          },
          "safetyFeedback": {
            "description": "Returns any safety feedback related to content filtering.",
            "items": {
              "$ref": "#/components/schemas/SafetyFeedback"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "GenerationConfig": {
        "description": "Configuration options for model generation and outputs. Not all parameters are configurable for every model.",
        "properties": {
          "_responseJsonSchema": {
            "description": "Optional. Output schema of the generated response. This is an alternative to `response_schema` that accepts [JSON Schema](https://json-schema.org/). If set, `response_schema` must be omitted, but `response_mime_type` is required. While the full JSON Schema may be sent, not all features are supported. Specifically, only the following properties are supported: - `$id` - `$defs` - `$ref` - `$anchor` - `type` - `format` - `title` - `description` - `enum` (for strings and numbers) - `items` - `prefixItems` - `minItems` - `maxItems` - `minimum` - `maximum` - `anyOf` - `oneOf` (interpreted the same as `anyOf`) - `properties` - `additionalProperties` - `required` The non-standard `propertyOrdering` property may also be set. Cyclic references are unrolled to a limited degree and, as such, may only be used within non-required properties. (Nullable properties are not sufficient.) If `$ref` is set on a sub-schema, no other properties, except for than those starting as a `$`, may be set."
          },
          "candidateCount": {
            "description": "Optional. Number of generated responses to return. If unset, this will default to 1. Please note that this doesn't work for previous generation models (Gemini 1.0 family)",
            "format": "int32",
            "type": "integer"
          },
          "enableEnhancedCivicAnswers": {
            "description": "Optional. Enables enhanced civic answers. It may not be available for all models.",
            "type": "boolean"
          },
          "frequencyPenalty": {
            "description": "Optional. Frequency penalty applied to the next token's logprobs, multiplied by the number of times each token has been seen in the respponse so far. A positive penalty will discourage the use of tokens that have already been used, proportional to the number of times the token has been used: The more a token is used, the more difficult it is for the model to use that token again increasing the vocabulary of responses. Caution: A _negative_ penalty will encourage the model to reuse tokens proportional to the number of times the token has been used. Small negative values will reduce the vocabulary of a response. Larger negative values will cause the model to start repeating a common token until it hits the max_output_tokens limit.",
            "format": "float",
            "type": "number"
          },
          "imageConfig": {
            "$ref": "#/components/schemas/ImageConfig",
            "description": "Optional. Config for image generation. An error will be returned if this field is set for models that don't support these config options."
          },
          "logprobs": {
            "description": "Optional. Only valid if response_logprobs=True. This sets the number of top logprobs to return at each decoding step in the Candidate.logprobs_result. The number must be in the range of [0, 20].",
            "format": "int32",
            "type": "integer"
          },
          "maxOutputTokens": {
            "description": "Optional. The maximum number of tokens to include in a response candidate. Note: The default value varies by model, see the `Model.output_token_limit` attribute of the `Model` returned from the `getModel` function.",
            "format": "int32",
            "type": "integer"
          },
          "mediaResolution": {
            "description": "Optional. If specified, the media resolution specified will be used.",
            "enum": [
              "MEDIA_RESOLUTION_UNSPECIFIED",
              "MEDIA_RESOLUTION_LOW",
              "MEDIA_RESOLUTION_MEDIUM",
              "MEDIA_RESOLUTION_HIGH"
            ],
            "type": "string"
          },
          "presencePenalty": {
            "description": "Optional. Presence penalty applied to the next token's logprobs if the token has already been seen in the response. This penalty is binary on/off and not dependant on the number of times the token is used (after the first). Use frequency_penalty for a penalty that increases with each use. A positive penalty will discourage the use of tokens that have already been used in the response, increasing the vocabulary. A negative penalty will encourage the use of tokens that have already been used in the response, decreasing the vocabulary.",
            "format": "float",
            "type": "number"
          },
          "responseJsonSchema": {
            "description": "Optional. An internal detail. Use `responseJsonSchema` rather than this field."
          },
          "responseLogprobs": {
            "description": "Optional. If true, export the logprobs results in response.",
            "type": "boolean"
          },
          "responseMimeType": {
            "description": "Optional. MIME type of the generated candidate text. Supported MIME types are: `text/plain`: (default) Text output. `application/json`: JSON response in the response candidates. `text/x.enum`: ENUM as a string response in the response candidates. Refer to the [docs](https://ai.google.dev/gemini-api/docs/prompting_with_media#plain_text_formats) for a list of all supported text MIME types.",
            "type": "string"
          },
          "responseModalities": {
            "description": "Optional. The requested modalities of the response. Represents the set of modalities that the model can return, and should be expected in the response. This is an exact match to the modalities of the response. A model may have multiple combinations of supported modalities. If the requested modalities do not match any of the supported combinations, an error will be returned. An empty list is equivalent to requesting only text.",
            "items": {
              "enum": [
                "MODALITY_UNSPECIFIED",
                "TEXT",
                "IMAGE",
                "AUDIO"
              ],
              "type": "string"
            },
            "type": "array"
          },
          "responseSchema": {
            "$ref": "#/components/schemas/Schema",
            "description": "Optional. Output schema of the generated candidate text. Schemas must be a subset of the [OpenAPI schema](https://spec.openapis.org/oas/v3.0.3#schema) and can be objects, primitives or arrays. If set, a compatible `response_mime_type` must also be set. Compatible MIME types: `application/json`: Schema for JSON response. Refer to the [JSON text generation guide](https://ai.google.dev/gemini-api/docs/json-mode) for more details."
          },
          "seed": {
            "description": "Optional. Seed used in decoding. If not set, the request uses a randomly generated seed.",
            "format": "int32",
            "type": "integer"
          },
          "speechConfig": {
            "$ref": "#/components/schemas/SpeechConfig",
            "description": "Optional. The speech generation config."
          },
          "stopSequences": {
            "description": "Optional. The set of character sequences (up to 5) that will stop output generation. If specified, the API will stop at the first appearance of a `stop_sequence`. The stop sequence will not be included as part of the response.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "temperature": {
            "description": "Optional. Controls the randomness of the output. Note: The default value varies by model, see the `Model.temperature` attribute of the `Model` returned from the `getModel` function. Values can range from [0.0, 2.0].",
            "format": "float",
            "type": "number"
          },
          "thinkingConfig": {
            "$ref": "#/components/schemas/ThinkingConfig",
            "description": "Optional. Config for thinking features. An error will be returned if this field is set for models that don't support thinking."
          },
          "topK": {
            "description": "Optional. The maximum number of tokens to consider when sampling. Gemini models use Top-p (nucleus) sampling or a combination of Top-k and nucleus sampling. Top-k sampling considers the set of `top_k` most probable tokens. Models running with nucleus sampling don't allow top_k setting. Note: The default value varies by `Model` and is specified by the`Model.top_p` attribute returned from the `getModel` function. An empty `top_k` attribute indicates that the model doesn't apply top-k sampling and doesn't allow setting `top_k` on requests.",
            "format": "int32",
            "type": "integer"
          },
          "topP": {
            "description": "Optional. The maximum cumulative probability of tokens to consider when sampling. The model uses combined Top-k and Top-p (nucleus) sampling. Tokens are sorted based on their assigned probabilities so that only the most likely tokens are considered. Top-k sampling directly limits the maximum number of tokens to consider, while Nucleus sampling limits the number of tokens based on the cumulative probability. Note: The default value varies by `Model` and is specified by the`Model.top_p` attribute returned from the `getModel` function. An empty `top_k` attribute indicates that the model doesn't apply top-k sampling and doesn't allow setting `top_k` on requests.",
            "format": "float",
            "type": "number"
          }
        },
        "type": "object"
      },
      "GoogleAiGenerativelanguageV1betaGroundingSupport": {
        "description": "Grounding support.",
        "properties": {
          "confidenceScores": {
            "description": "Optional. Confidence score of the support references. Ranges from 0 to 1. 1 is the most confident. This list must have the same size as the grounding_chunk_indices.",
            "items": {
              "format": "float",
              "type": "number"
            },
            "type": "array"
          },
          "groundingChunkIndices": {
            "description": "Optional. A list of indices (into 'grounding_chunk' in `response.candidate.grounding_metadata`) specifying the citations associated with the claim. For instance [1,3,4] means that grounding_chunk[1], grounding_chunk[3], grounding_chunk[4] are the retrieved content attributed to the claim. If the response is streaming, the grounding_chunk_indices refer to the indices across all responses. It is the client's responsibility to accumulate the grounding chunks from all responses (while maintaining the same order).",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "type": "array"
          },
          "segment": {
            "$ref": "#/components/schemas/GoogleAiGenerativelanguageV1betaSegment",
            "description": "Segment of the content this support belongs to."
          }
        },
        "type": "object"
      },
      "GoogleAiGenerativelanguageV1betaSegment": {
        "description": "Segment of the content.",
        "properties": {
          "endIndex": {
            "description": "End index in the given Part, measured in bytes. Offset from the start of the Part, exclusive, starting at zero.",
            "format": "int32",
            "type": "integer"
          },
          "partIndex": {
            "description": "The index of a Part object within its parent Content object.",
            "format": "int32",
            "type": "integer"
          },
          "startIndex": {
            "description": "Start index in the given Part, measured in bytes. Offset from the start of the Part, inclusive, starting at zero.",
            "format": "int32",
            "type": "integer"
          },
          "text": {
            "description": "The text corresponding to the segment from the response.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleMaps": {
        "description": "The GoogleMaps Tool that provides geospatial context for the user's query.",
        "properties": {
          "enableWidget": {
            "description": "Optional. Whether to return a widget context token in the GroundingMetadata of the response. Developers can use the widget context token to render a Google Maps widget with geospatial context related to the places that the model references in the response.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "GoogleSearch": {
        "description": "GoogleSearch tool type. Tool to support Google Search in Model. Powered by Google.",
        "properties": {
          "timeRangeFilter": {
            "$ref": "#/components/schemas/Interval",
            "description": "Optional. Filter search results to a specific time range. If customers set a start time, they must set an end time (and vice versa)."
          }
        },
        "type": "object"
      },
      "GoogleSearchRetrieval": {
        "description": "Tool to retrieve public web data for grounding, powered by Google.",
        "properties": {
          "dynamicRetrievalConfig": {
            "$ref": "#/components/schemas/DynamicRetrievalConfig",
            "description": "Specifies the dynamic retrieval configuration for the given source."
          }
        },
        "type": "object"
      },
      "GroundingAttribution": {
        "description": "Attribution for a source that contributed to an answer.",
        "properties": {
          "content": {
            "$ref": "#/components/schemas/Content",
            "description": "Grounding source content that makes up this attribution."
          },
          "sourceId": {
            "$ref": "#/components/schemas/AttributionSourceId",
            "description": "Output only. Identifier for the source contributing to this attribution.",
            "readOnly": true
          }
        },
        "type": "object"
      },
      "GroundingChunk": {
        "description": "Grounding chunk.",
        "properties": {
          "maps": {
            "$ref": "#/components/schemas/Maps",
            "description": "Optional. Grounding chunk from Google Maps."
          },
          "retrievedContext": {
            "$ref": "#/components/schemas/RetrievedContext",
            "description": "Optional. Grounding chunk from context retrieved by the file search tool."
          },
          "web": {
            "$ref": "#/components/schemas/Web",
            "description": "Grounding chunk from the web."
          }
        },
        "type": "object"
      },
      "GroundingMetadata": {
        "description": "Metadata returned to client when grounding is enabled.",
        "properties": {
          "googleMapsWidgetContextToken": {
            "description": "Optional. Resource name of the Google Maps widget context token that can be used with the PlacesContextElement widget in order to render contextual data. Only populated in the case that grounding with Google Maps is enabled.",
            "type": "string"
          },
          "groundingChunks": {
            "description": "List of supporting references retrieved from specified grounding source. When streaming, this only contains the grounding chunks that have not been included in the grounding metadata of previous responses.",
            "items": {
              "$ref": "#/components/schemas/GroundingChunk"
            },
            "type": "array"
          },
          "groundingSupports": {
            "description": "List of grounding support.",
            "items": {
              "$ref": "#/components/schemas/GoogleAiGenerativelanguageV1betaGroundingSupport"
            },
            "type": "array"
[...]
